.breadcrumbs {
    font-size: 18px;
    text-align: left;
    color: #757575;
    margin-bottom: 20px;
    margin: 0px 20px 20px 20px;
    padding-top: 120px;
    white-space: normal; /* Позволяет переносу слов в пределах строки */
    line-height: 1.5; /* Улучшает читаемость */
}

.breadcrumb-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.breadcrumb-link:hover {
    color: #000000;
}

.breadcrumb-item {
    display: inline; /* Строковый элемент, чтобы все находились в одной строке */
}

.breadcrumb-separator {
    color: #b5b5b5;
}

.breadcrumb-current {
    font-weight: bold;
    color: #000000;
}
