.jobs-summary {
    padding: 60px 20px;
    background-color: #ffffff;
}

.jobs-summary h2 {
    text-align: left;
    font-size: 36px;
    margin-bottom: 40px;
}

.jobs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.job-card-wrapper {
    position: relative;
}

.job-image {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 40px; /* Закругляем все углы */
    position: relative;
    margin-bottom: -40px; /* Сдвигаем изображение, чтобы оно находилось над карточкой */
    z-index: 1;
}

.job-country {
    display: inline-block;
    background-color: #5a65d8;
    color: white;
    border-radius: 10px;
    padding: 10px 45px;
    font-size: 20px;
    position: absolute;
    bottom: -20px; /* Позиционируем наполовину над картинкой и наполовину над карточкой */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    white-space: nowrap;
}

.job-country i {
    margin-right: 8px;
}

.job-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-radius: 0 0 40px 40px;
    border: 2px solid #5a65d8; /* Внутренний бордер */
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
    position: relative;
    z-index: 0;
}

.job-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

.job-header {
    margin-bottom: 15px;
    text-align: center;
}

.job-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 60px;
    text-align: left;
}

.job-content p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.details-button {
    padding: 10px 20px;
    background-color: #2f80ed;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: auto;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #1c67c0;
}

.more-jobs-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.more-jobs-button {
    display: inline-block;
    width: auto;
    padding: 10px 40px;
    text-align: center;
}

@media (max-width: 768px) {
    .jobs-grid {
        grid-template-columns: 1fr;
    }
}
