.main-application-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 40px 40px;
    background-image: url("../../assets/eu_map.png");
    background-repeat: no-repeat;
    background-size: cover; /* Покрываем весь блок */
    color: white;
    height: 700px;
    z-index: 1;
}

.main-application-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 66, 222, 0.866); /* Полупрозрачный фиолетовый фон */
    z-index: -1;
}

.text-block {
    max-width: 40%;
    text-align: left;
    z-index: 2;
}

.text-block h1 {
    font-size: 48px;
    margin-bottom: 20px;
    width: 370px;
}

.text-block p {
    font-size: 18px;
}

.form-block {
    background-color: #f7f6f2;
    padding: 30px 50px;
    border-radius: 30px;
    color: #333;
    max-width: 50%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.form-block form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-block input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    font-size: 16px;
    color: #333;
    outline: none;
}

.form-block input::placeholder {
    color: #999;
}

.form-block input:focus {
    border-bottom-color: #2f80ed;
}

.form-block button {
    padding: 10px;
    background-color: #4039eb;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.form-block button:hover {
    background-color: #1c67c0;
}



/* Основной блок с кружками */
.circles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    z-index: 2;
    position: relative;
}

/* Базовые стили для кружков */
.circle {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    animation: moveCircle 5s infinite ease-in-out;
}

/* Уникальная анимация для каждого кружка */
.circle1 {
    left: -400px;
    top: -200px;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}

.circle2 {
    left: -100px;
    top: -170px;
    width: 55px;
    height: 55px;
    animation-delay: 0.5s;
}

.circle3 {
    left: -50px;
    top: 0px;
    width: 70px;
    height: 70px;
    animation-delay: 1s;
}

.circle4 {
    left: -70px;
    top: 120px;
    width: 120px;
    height: 120px;
    animation-delay: 1.5s;
}

.circle5 {
    left: -500px;
    top: 180px;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
}

.circle6 {
    left: 600px;
    top: 235px;
    width: 80px;
    height: 80px;
    animation-delay: 2.5s;
}

.circle7 {
    left: 700px;
    top: -265px;
    width: 60px;
    height: 60px;
    animation-delay: 3s;
}

/* Анимация движения по кругу */
@keyframes moveCircle {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(3px, -3px);
    }
    50% {
        transform: translate(0px, 3px);
    }
    75% {
        transform: translate(-3px, -3px);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* Настройки для изображений внутри кружков */
.circle img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .main-application-form {
        flex-direction: column;
        padding: 60px 20px;
        height: auto;
    }

    .text-block {
        margin-top: 40px;
        max-width: none;
        text-align: left;
        z-index: 2;
    }
    
    .text-block h1 {
        font-size: 42px;
        width: 370px;
    }
    
    .text-block p {
        font-size: 18px;
    }

    .form-block {
        max-width: 100%;
        padding: 20px;
        margin-top: 20px;
    }

    .circles-container {
        justify-content: space-around;
        margin-bottom: 20px;
        height: 300px;
    }

    .circle1 {
        left: -10px;
        top: 50px;
        width: 60px;
        height: 60px;
    }
    
    .circle2 {
        display: none;
    }
    
    .circle3 {
        left: 0px;
        top: 120px;
        width: 80px;
        height: 80px;
    }
    
    .circle4 {
        left: -30px;
        top: 0;
        width: 90px;
        height: 90px;
    }
    
    .circle5 {
        display: none;
    }
    
    .circle6 {
        left: 0px;
        top: 70px;
        width: 90px;
        height: 90px;
    }
    
    .circle7 {
        left: 50px;
        top: 30px;
        width: 80px;
        height: 80px;
    }
}

.success-message {
    background-color: #5a65d8;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 20px; /* Сообщение будет закреплено к верхней части экрана */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999999;
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; top: 0; }
    10% { opacity: 1; top: 50px; }
    90% { opacity: 1; top: 50px; }
    100% { opacity: 0; top: 0; }
}
